In [1]:
import numpy as np
import xarray as xr
import pandas as pd

In [2]:
from pathlib import Path

In [3]:
!ls /nfs/pyromancer/SharedData/regsimout

centralhigh22nov2018  ph_10.csv  ph_1.nc   ph_3.csv  ph_5.nc
ph_0.csv	      ph_10.nc	 ph_2.csv  ph_3.nc
ph_0.nc		      ph_1.csv	 ph_2.nc   ph_5.csv

In [4]:
!ls image/apps

BioDiversity.py  Hydrology.py		__init__.py	  __pycache__
Carbon.py	 Ignitions.py		lib		  Recreational.py
Experiential.py  ImplementationCost.py	MetricAdaptor.py  RegionalEconomy.py
extractions.log  Infrastructure.py	PeopleHouses.py   util

In [5]:
fpath = "/nfs/pyromancer/SharedData/regsimout"

In [6]:
pname = "centralhigh22nov2018"

In [7]:
from image.apps.lib.ProjectsController import ProjectsController
from image.apps.lib.Project import Project

In [8]:
proj = Project()
proj.name

'Unnamed Project'

In [9]:
proj.extension

'dss'

In [10]:
proj.safe_name()

'Unnamed_Project'

In [11]:
proj.path_to_save

'/media/arawlins/Olympic/DSS_DASH/MetricsDashboard/Unnamed_Project.dss'

In [12]:
proj.rename("Example")

Will save to: /media/arawlins/Olympic/DSS_DASH/MetricsDashboard/Example.dss
Wrote: /media/arawlins/Olympic/DSS_DASH/MetricsDashboard/Example.dss/meta.yaml
Wrote: /media/arawlins/Olympic/DSS_DASH/MetricsDashboard/Example.dss

In [13]:
proj.path_to_save

'/media/arawlins/Olympic/DSS_DASH/MetricsDashboard/Example.dss'

In [14]:
proj.metadata

{'version': '1.0',
 'metric_evaluation': '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/',
 'levels': [0, 1, 2, 3, 5, 10],
 'project_extension': '.frost.proj',
 'output_folder_name': 'post_processing_output',
 'extension': 'dss',
 'path': '/media/arawlins/Olympic/DSS_DASH/MetricsDashboard',
 'name': 'Example'}

In [15]:
proj._save()

Will save to: /media/arawlins/Olympic/DSS_DASH/MetricsDashboard/Example.dss
Wrote: /media/arawlins/Olympic/DSS_DASH/MetricsDashboard/Example.dss/meta.yaml
Wrote: /media/arawlins/Olympic/DSS_DASH/MetricsDashboard/Example.dss

In [16]:
import yaml

In [17]:
with open(str(Path(proj.path_to_save).joinpath('meta.yaml')), 'r') as f:
    y = yaml.safe_load(f)
y

{'extension': 'dss',
 'levels': [0, 1, 2, 3, 5, 10],
 'metric_evaluation': '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/',
 'name': 'Example',
 'output_folder_name': 'post_processing_output',
 'path': '/media/arawlins/Olympic/DSS_DASH/MetricsDashboard',
 'project_extension': '.frost.proj',
 'version': '1.0'}

In [18]:
proj.metadata = y

In [19]:
proj

In [20]:
proj.metadata

{'extension': 'dss',
 'levels': [0, 1, 2, 3, 5, 10],
 'metric_evaluation': '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/',
 'name': 'Example',
 'output_folder_name': 'post_processing_output',
 'path': '/media/arawlins/Olympic/DSS_DASH/MetricsDashboard',
 'project_extension': '.frost.proj',
 'version': '1.0'}

In [22]:
proj.metadata['metric_evaluation']

'/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/'

In [25]:
!ls /nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_10pb/centralhigh22nov18_10pb001/

centralhigh22nov18_10pb001.frost.proj  fire_impacts_57.sqlite
fire_impact_databases_index.sqlite     fire_impacts_58.sqlite
fire_impacts_100.sqlite		       fire_impacts_59.sqlite
fire_impacts_10.sqlite		       fire_impacts_5.sqlite
fire_impacts_11.sqlite		       fire_impacts_60.sqlite
fire_impacts_12.sqlite		       fire_impacts_61.sqlite
fire_impacts_13.sqlite		       fire_impacts_62.sqlite
fire_impacts_14.sqlite		       fire_impacts_63.sqlite
fire_impacts_15.sqlite		       fire_impacts_64.sqlite
fire_impacts_16.sqlite		       fire_impacts_65.sqlite
fire_impacts_17.sqlite		       fire_impacts_66.sqlite
fire_impacts_18.sqlite		       fire_impacts_67.sqlite
fire_impacts_19.sqlite		       fire_impacts_68.sqlite
fire_impacts_1.sqlite		       fire_impacts_69.sqlite
fire_impacts_20.sqlite		       fire_impacts_6.sqlite
fire_impacts_21.sqlite		       fire_impacts_70.sqlite
fire_impacts_22.sqlite		       fire_impacts_71.sqlite
fire_impacts_23.sqlite		       fire_impacts_72.sqlite
fire_impacts_24.sqlite		       fire_impacts_73.sqlite
fire_impacts_25.sqlite		       fire_impacts_74.sqlite
fire_impacts_26.sqlite		       fire_impacts_75.sqlite
fire_impacts_27.sqlite		       fire_impacts_76.sqlite
fire_impacts_28.sqlite		       fire_impacts_77.sqlite
fire_impacts_29.sqlite		       fire_impacts_78.sqlite
fire_impacts_2.sqlite		       fire_impacts_79.sqlite
fire_impacts_30.sqlite		       fire_impacts_7.sqlite
fire_impacts_31.sqlite		       fire_impacts_80.sqlite
fire_impacts_32.sqlite		       fire_impacts_81.sqlite
fire_impacts_33.sqlite		       fire_impacts_82.sqlite
fire_impacts_34.sqlite		       fire_impacts_83.sqlite
fire_impacts_35.sqlite		       fire_impacts_84.sqlite
fire_impacts_36.sqlite		       fire_impacts_85.sqlite
fire_impacts_37.sqlite		       fire_impacts_86.sqlite
fire_impacts_38.sqlite		       fire_impacts_87.sqlite
fire_impacts_39.sqlite		       fire_impacts_88.sqlite
fire_impacts_3.sqlite		       fire_impacts_89.sqlite
fire_impacts_40.sqlite		       fire_impacts_8.sqlite
fire_impacts_41.sqlite		       fire_impacts_90.sqlite
fire_impacts_42.sqlite		       fire_impacts_91.sqlite
fire_impacts_43.sqlite		       fire_impacts_92.sqlite
fire_impacts_44.sqlite		       fire_impacts_93.sqlite
fire_impacts_45.sqlite		       fire_impacts_94.sqlite
fire_impacts_46.sqlite		       fire_impacts_95.sqlite
fire_impacts_47.sqlite		       fire_impacts_96.sqlite
fire_impacts_48.sqlite		       fire_impacts_97.sqlite
fire_impacts_49.sqlite		       fire_impacts_98.sqlite
fire_impacts_4.sqlite		       fire_impacts_99.sqlite
fire_impacts_50.sqlite		       fire_impacts_9.sqlite
fire_impacts_51.sqlite		       post_processing_output
fire_impacts_52.sqlite		       project_info.sqlite
fire_impacts_53.sqlite		       regime_simulation_error_log.txt
fire_impacts_54.sqlite		       regsim_ignitions.txt
fire_impacts_55.sqlite		       regsim_warnings_errors.log
fire_impacts_56.sqlite

In [26]:
projFile = '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_10pb/centralhigh22nov18_10pb001/centralhigh22nov18_10pb001.frost.proj'

In [28]:
with open(projFile, 'r') as f:
    print(f.read())

﻿<?xml version="1.0" encoding="utf-8"?>
<frost_regsim_project version="7">
  <project_name>centralhigh22nov18_10pb001</project_name>
  <project_descr>Regsim 1 of 100 in multi-project "centralhigh22nov2018_10pb"</project_descr>
  <machines_in_files_root_dir>X:\__frostbatch_machinery_data\centralhigh22nov2018\machinery_data_clone_3\</machines_in_files_root_dir>
  <output_root_dir>Y:\regsimout\centralhigh22nov2018\centralhigh22nov2018_10pb\</output_root_dir>
  <start_year_of_first_fireyear>2003</start_year_of_first_fireyear>
  <start_year_of_last_fireyear>2052</start_year_of_last_fireyear>
</frost_regsim_project>

In [29]:
import xml.etree.ElementTree as ET

tree = ET.parse(projFile)
root = tree.getroot()

In [31]:
root.tag

'frost_regsim_project'

In [33]:
root.attrib

{'version': '7'}

In [38]:
from glob import glob as glob

search = '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb*/post_processing_output/phibc_post_proc_results.sqlite'

sorted(glob(search))

['/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb001/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb002/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb003/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb004/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb005/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb006/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb007/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb008/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb009/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb010/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb011/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb012/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb013/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb014/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb015/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb016/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb017/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb018/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb019/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb020/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb021/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb022/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb023/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb024/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb025/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb026/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb027/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb028/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb029/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb030/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb031/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb032/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb033/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb034/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb035/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb036/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb037/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb038/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb039/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb040/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb041/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb042/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb043/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb044/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb045/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb046/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb047/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb048/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb049/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb050/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb051/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb052/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb053/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb054/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb055/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb056/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb057/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb058/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb059/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb060/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb061/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb062/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb063/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb064/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb065/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb066/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb067/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb068/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb069/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb070/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb071/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb072/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb073/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb074/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb075/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb076/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb077/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb078/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb079/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb080/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb081/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb082/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb083/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb084/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb085/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb086/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb087/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb088/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb089/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb090/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb091/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb092/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb093/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb094/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb095/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb096/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb097/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb098/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb099/post_processing_output/phibc_post_proc_results.sqlite',
 '/nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb/centralhigh22nov18_5pb100/post_processing_output/phibc_post_proc_results.sqlite']

In [39]:
!ls /nfs/pyromancer/SharedData/regsimout/centralhigh22nov2018/centralhigh22nov2018_5pb

centralhigh22nov18_5pb001		centralhigh22nov18_5pb051
centralhigh22nov18_5pb001_feedback.txt	centralhigh22nov18_5pb051_feedback.txt
centralhigh22nov18_5pb002		centralhigh22nov18_5pb052
centralhigh22nov18_5pb002_feedback.txt	centralhigh22nov18_5pb052_feedback.txt
centralhigh22nov18_5pb003		centralhigh22nov18_5pb053
centralhigh22nov18_5pb003_feedback.txt	centralhigh22nov18_5pb053_feedback.txt
centralhigh22nov18_5pb004		centralhigh22nov18_5pb054
centralhigh22nov18_5pb004_feedback.txt	centralhigh22nov18_5pb054_feedback.txt
centralhigh22nov18_5pb005		centralhigh22nov18_5pb055
centralhigh22nov18_5pb005_feedback.txt	centralhigh22nov18_5pb055_feedback.txt
centralhigh22nov18_5pb006		centralhigh22nov18_5pb056
centralhigh22nov18_5pb006_feedback.txt	centralhigh22nov18_5pb056_feedback.txt
centralhigh22nov18_5pb007		centralhigh22nov18_5pb057
centralhigh22nov18_5pb007_feedback.txt	centralhigh22nov18_5pb057_feedback.txt
centralhigh22nov18_5pb008		centralhigh22nov18_5pb058
centralhigh22nov18_5pb008_feedback.txt	centralhigh22nov18_5pb058_feedback.txt
centralhigh22nov18_5pb009		centralhigh22nov18_5pb059
centralhigh22nov18_5pb009_feedback.txt	centralhigh22nov18_5pb059_feedback.txt
centralhigh22nov18_5pb010		centralhigh22nov18_5pb060
centralhigh22nov18_5pb010_feedback.txt	centralhigh22nov18_5pb060_feedback.txt
centralhigh22nov18_5pb011		centralhigh22nov18_5pb061
centralhigh22nov18_5pb011_feedback.txt	centralhigh22nov18_5pb061_feedback.txt
centralhigh22nov18_5pb012		centralhigh22nov18_5pb062
centralhigh22nov18_5pb012_feedback.txt	centralhigh22nov18_5pb062_feedback.txt
centralhigh22nov18_5pb013		centralhigh22nov18_5pb063
centralhigh22nov18_5pb013_feedback.txt	centralhigh22nov18_5pb063_feedback.txt
centralhigh22nov18_5pb014		centralhigh22nov18_5pb064
centralhigh22nov18_5pb014_feedback.txt	centralhigh22nov18_5pb064_feedback.txt
centralhigh22nov18_5pb015		centralhigh22nov18_5pb065
centralhigh22nov18_5pb015_feedback.txt	centralhigh22nov18_5pb065_feedback.txt
centralhigh22nov18_5pb016		centralhigh22nov18_5pb066
centralhigh22nov18_5pb016_feedback.txt	centralhigh22nov18_5pb066_feedback.txt
centralhigh22nov18_5pb017		centralhigh22nov18_5pb067
centralhigh22nov18_5pb017_feedback.txt	centralhigh22nov18_5pb067_feedback.txt
centralhigh22nov18_5pb018		centralhigh22nov18_5pb068
centralhigh22nov18_5pb018_feedback.txt	centralhigh22nov18_5pb068_feedback.txt
centralhigh22nov18_5pb019		centralhigh22nov18_5pb069
centralhigh22nov18_5pb019_feedback.txt	centralhigh22nov18_5pb069_feedback.txt
centralhigh22nov18_5pb020		centralhigh22nov18_5pb070
centralhigh22nov18_5pb020_feedback.txt	centralhigh22nov18_5pb070_feedback.txt
centralhigh22nov18_5pb021		centralhigh22nov18_5pb071
centralhigh22nov18_5pb021_feedback.txt	centralhigh22nov18_5pb071_feedback.txt
centralhigh22nov18_5pb022		centralhigh22nov18_5pb072
centralhigh22nov18_5pb022_feedback.txt	centralhigh22nov18_5pb072_feedback.txt
centralhigh22nov18_5pb023		centralhigh22nov18_5pb073
centralhigh22nov18_5pb023_feedback.txt	centralhigh22nov18_5pb073_feedback.txt
centralhigh22nov18_5pb024		centralhigh22nov18_5pb074
centralhigh22nov18_5pb024_feedback.txt	centralhigh22nov18_5pb074_feedback.txt
centralhigh22nov18_5pb025		centralhigh22nov18_5pb075
centralhigh22nov18_5pb025_feedback.txt	centralhigh22nov18_5pb075_feedback.txt
centralhigh22nov18_5pb026		centralhigh22nov18_5pb076
centralhigh22nov18_5pb026_feedback.txt	centralhigh22nov18_5pb076_feedback.txt
centralhigh22nov18_5pb027		centralhigh22nov18_5pb077
centralhigh22nov18_5pb027_feedback.txt	centralhigh22nov18_5pb077_feedback.txt
centralhigh22nov18_5pb028		centralhigh22nov18_5pb078
centralhigh22nov18_5pb028_feedback.txt	centralhigh22nov18_5pb078_feedback.txt
centralhigh22nov18_5pb029		centralhigh22nov18_5pb079
centralhigh22nov18_5pb029_feedback.txt	centralhigh22nov18_5pb079_feedback.txt
centralhigh22nov18_5pb030		centralhigh22nov18_5pb080
centralhigh22nov18_5pb030_feedback.txt	centralhigh22nov18_5pb080_feedback.txt
centralhigh22nov18_5pb031		centralhigh22nov18_5pb081
centralhigh22nov18_5pb031_feedback.txt	centralhigh22nov18_5pb081_feedback.txt
centralhigh22nov18_5pb032		centralhigh22nov18_5pb082
centralhigh22nov18_5pb032_feedback.txt	centralhigh22nov18_5pb082_feedback.txt
centralhigh22nov18_5pb033		centralhigh22nov18_5pb083
centralhigh22nov18_5pb033_feedback.txt	centralhigh22nov18_5pb083_feedback.txt
centralhigh22nov18_5pb034		centralhigh22nov18_5pb084
centralhigh22nov18_5pb034_feedback.txt	centralhigh22nov18_5pb084_feedback.txt
centralhigh22nov18_5pb035		centralhigh22nov18_5pb085
centralhigh22nov18_5pb035_feedback.txt	centralhigh22nov18_5pb085_feedback.txt
centralhigh22nov18_5pb036		centralhigh22nov18_5pb086
centralhigh22nov18_5pb036_feedback.txt	centralhigh22nov18_5pb086_feedback.txt
centralhigh22nov18_5pb037		centralhigh22nov18_5pb087
centralhigh22nov18_5pb037_feedback.txt	centralhigh22nov18_5pb087_feedback.txt
centralhigh22nov18_5pb038		centralhigh22nov18_5pb088
centralhigh22nov18_5pb038_feedback.txt	centralhigh22nov18_5pb088_feedback.txt
centralhigh22nov18_5pb039		centralhigh22nov18_5pb089
centralhigh22nov18_5pb039_feedback.txt	centralhigh22nov18_5pb089_feedback.txt
centralhigh22nov18_5pb040		centralhigh22nov18_5pb090
centralhigh22nov18_5pb040_feedback.txt	centralhigh22nov18_5pb090_feedback.txt
centralhigh22nov18_5pb041		centralhigh22nov18_5pb091
centralhigh22nov18_5pb041_feedback.txt	centralhigh22nov18_5pb091_feedback.txt
centralhigh22nov18_5pb042		centralhigh22nov18_5pb092
centralhigh22nov18_5pb042_feedback.txt	centralhigh22nov18_5pb092_feedback.txt
centralhigh22nov18_5pb043		centralhigh22nov18_5pb093
centralhigh22nov18_5pb043_feedback.txt	centralhigh22nov18_5pb093_feedback.txt
centralhigh22nov18_5pb044		centralhigh22nov18_5pb094
centralhigh22nov18_5pb044_feedback.txt	centralhigh22nov18_5pb094_feedback.txt
centralhigh22nov18_5pb045		centralhigh22nov18_5pb095
centralhigh22nov18_5pb045_feedback.txt	centralhigh22nov18_5pb095_feedback.txt
centralhigh22nov18_5pb046		centralhigh22nov18_5pb096
centralhigh22nov18_5pb046_feedback.txt	centralhigh22nov18_5pb096_feedback.txt
centralhigh22nov18_5pb047		centralhigh22nov18_5pb097
centralhigh22nov18_5pb047_feedback.txt	centralhigh22nov18_5pb097_feedback.txt
centralhigh22nov18_5pb048		centralhigh22nov18_5pb098
centralhigh22nov18_5pb048_feedback.txt	centralhigh22nov18_5pb098_feedback.txt
centralhigh22nov18_5pb049		centralhigh22nov18_5pb099
centralhigh22nov18_5pb049_feedback.txt	centralhigh22nov18_5pb099_feedback.txt
centralhigh22nov18_5pb050		centralhigh22nov18_5pb100
centralhigh22nov18_5pb050_feedback.txt	centralhigh22nov18_5pb100_feedback.txt

In [40]:
!ls /nfs/pyromancer/SharedData/regsimout/PeopleHouses

PB_0_burn_seasons.nc   PB_1_burn_seasons.nc  PB_3_burn_seasons.nc
PB_0_wild_seasons.nc   PB_1_wild_seasons.nc  PB_3_wild_seasons.nc
PB_10_burn_seasons.nc  PB_2_burn_seasons.nc  PB_5_burn_seasons.nc
PB_10_wild_seasons.nc  PB_2_wild_seasons.nc  PB_5_wild_seasons.nc

In [41]:
wilds = '/nfs/pyromancer/SharedData/regsimout/PeopleHouses/PB_*_wild_seasons.nc'
burns = '/nfs/pyromancer/SharedData/regsimout/PeopleHouses/PB_*_burn_seasons.nc'

In [42]:
w = sorted(glob(wilds))

In [243]:
with xr.open_mfdataset(w, concat_dim='PB') as ds:
    print(ds)

<xarray.Dataset>
Dimensions:          (Metrics_var: 6, PB: 6, batch: 100, years: 149)
Coordinates:
  * years            (years) int64 2003 2004 2005 2006 ... 2148 2149 2150 2151
  * Metrics_var      (Metrics_var) object 'scenario_id' ... 'houses_lost'
Dimensions without coordinates: PB, batch
Data variables:
    PeopleAndHouses  (PB, batch, years, Metrics_var) float64 dask.array<shape=(6, 100, 149, 6), chunksize=(1, 100, 149, 6)>

In [244]:
ds = ds['PeopleAndHouses'].assign_coords(PB=[0,1,2,3,5,10]).assign_coords(batch=range(100))

In [246]:
ds

<xarray.DataArray 'PeopleAndHouses' (PB: 6, batch: 100, years: 149, Metrics_var: 6)>
dask.array<shape=(6, 100, 149, 6), dtype=float64, chunksize=(1, 100, 149, 6)>
Coordinates:
  * years        (years) int64 2003 2004 2005 2006 2007 ... 2148 2149 2150 2151
  * Metrics_var  (Metrics_var) object 'scenario_id' ... 'houses_lost'
  * PB           (PB) int64 0 1 2 3 5 10
  * batch        (batch) int64 0 1 2 3 4 5 6 7 8 ... 91 92 93 94 95 96 97 98 99
Attributes:
    start_year_of_first_fireyear:  2102
    start_year_of_last_fireyear:   2151
    processed_by:

In [247]:
d = ds

In [248]:
d.sel(PB=0)

<xarray.DataArray 'PeopleAndHouses' (batch: 100, years: 149, Metrics_var: 6)>
dask.array<shape=(100, 149, 6), dtype=float64, chunksize=(100, 149, 6)>
Coordinates:
  * years        (years) int64 2003 2004 2005 2006 2007 ... 2148 2149 2150 2151
  * Metrics_var  (Metrics_var) object 'scenario_id' ... 'houses_lost'
    PB           int64 0
  * batch        (batch) int64 0 1 2 3 4 5 6 7 8 ... 91 92 93 94 95 96 97 98 99
Attributes:
    start_year_of_first_fireyear:  2102
    start_year_of_last_fireyear:   2151
    processed_by:

In [249]:
d.sel(PB=1, Metrics_var='houses_lost').groupby('batch').max(dim='years').to_dataframe()

       Metrics_var  PB  PeopleAndHouses
batch
0      houses_lost   1           1417.0
1      houses_lost   1            472.0
2      houses_lost   1            405.0
3      houses_lost   1           1203.0
4      houses_lost   1            301.0
5      houses_lost   1            846.0
6      houses_lost   1           1174.0
7      houses_lost   1            494.0
8      houses_lost   1            460.0
9      houses_lost   1           1591.0
10     houses_lost   1            567.0
11     houses_lost   1            845.0
12     houses_lost   1            977.0
13     houses_lost   1            725.0
14     houses_lost   1           1017.0
15     houses_lost   1           1013.0
16     houses_lost   1            498.0
17     houses_lost   1            317.0
18     houses_lost   1            701.0
19     houses_lost   1           1459.0
20     houses_lost   1            358.0
21     houses_lost   1            631.0
22     houses_lost   1            636.0
23     houses_lost   1           2261.0
24     houses_lost   1           1025.0
25     houses_lost   1           1019.0
26     houses_lost   1           1642.0
27     houses_lost   1            386.0
28     houses_lost   1           1900.0
29     houses_lost   1           1859.0
...            ...  ..              ...
70     houses_lost   1            604.0
71     houses_lost   1           1394.0
72     houses_lost   1            374.0
73     houses_lost   1            668.0
74     houses_lost   1            600.0
75     houses_lost   1            620.0
76     houses_lost   1           1090.0
77     houses_lost   1           1609.0
78     houses_lost   1            747.0
79     houses_lost   1           1357.0
80     houses_lost   1           1610.0
81     houses_lost   1           2475.0
82     houses_lost   1            319.0
83     houses_lost   1            268.0
84     houses_lost   1            461.0
85     houses_lost   1           1111.0
86     houses_lost   1            365.0
87     houses_lost   1            518.0
88     houses_lost   1            743.0
89     houses_lost   1            593.0
90     houses_lost   1           1777.0
91     houses_lost   1           1534.0
92     houses_lost   1            649.0
93     houses_lost   1            867.0
94     houses_lost   1            262.0
95     houses_lost   1            575.0
96     houses_lost   1            428.0
97     houses_lost   1            548.0
98     houses_lost   1           1116.0
99     houses_lost   1            694.0

[100 rows x 3 columns]

In [250]:
metrics = list(d.Metrics_var.data)

In [251]:
import scipy as sp
import plotly.plotly as py
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go

data = []

for i in metrics:
    df = d.sel(Metrics_var=i).to_dataframe()
    
    df = df.drop('Metrics_var', axis=1).rename({'PeopleAndHouses':i}, axis=1)
    df.to_csv('./Example.dss/data/PeopleAndHouses/'+i+'.csv')
    
    trace = go.Box(y=df)
    data.append(trace)

In [252]:
df1 = d.sel(Metrics_var=i).to_dataframe().drop('Metrics_var', axis=1).rename({'PeopleAndHouses':i}, axis=1)

# Using Pandas to do Selections

In [253]:
df1.groupby('PB').describe()

   houses_lost
         count     mean         std  min   25%   50%    75%     max
PB
0       5000.0  87.7592  176.104813  0.0  14.0  41.0  93.25  3742.0
1       5000.0  87.4992  160.954932  0.0  14.0  42.0  91.00  2475.0
2       5000.0  87.4992  160.954932  0.0  14.0  42.0  91.00  2475.0
3       5000.0  87.4992  160.954932  0.0  14.0  42.0  91.00  2475.0
5       5000.0  87.4992  160.954932  0.0  14.0  42.0  91.00  2475.0
10      5000.0  87.4992  160.954932  0.0  14.0  42.0  91.00  2475.0

In [123]:
df1.loc[['PB', 'batch', 'years']]

Empty DataFrame
Columns: [houses_lost]
Index: []

In [143]:
# df1.loc[0]  # ie., select PB of 0

In [138]:
df1.loc[0].describe()  # ie., select PB of 0

       houses_lost
count  5000.000000
mean     87.759200
std     176.104813
min       0.000000
25%      14.000000
50%      41.000000
75%      93.250000
max    3742.000000

In [139]:
df1.loc[1].describe()  # ie., select PB of 1

       houses_lost
count  5000.000000
mean     87.499200
std     160.954932
min       0.000000
25%      14.000000
50%      42.000000
75%      91.000000
max    2475.000000

In [140]:
df1.loc[2].describe()  # ie., select PB of 2

       houses_lost
count  5000.000000
mean     87.499200
std     160.954932
min       0.000000
25%      14.000000
50%      42.000000
75%      91.000000
max    2475.000000

In [141]:
df1.loc[3].describe()  # ie., select PB of 3

       houses_lost
count  5000.000000
mean     87.499200
std     160.954932
min       0.000000
25%      14.000000
50%      42.000000
75%      91.000000
max    2475.000000

In [136]:
df1.loc[4].describe()  # ie., select PB of 5

       houses_lost
count  5000.000000
mean     87.499200
std     160.954932
min       0.000000
25%      14.000000
50%      42.000000
75%      91.000000
max    2475.000000

In [137]:
df1.loc[5].describe()  # ie., select PB of 10

       houses_lost
count  5000.000000
mean     87.499200
std     160.954932
min       0.000000
25%      14.000000
50%      42.000000
75%      91.000000
max    2475.000000

# Using Xarray to do selections...

First rebuild the missing coordinates on the Xarray

In [204]:
ds

<xarray.Dataset>
Dimensions:          (Metrics_var: 6, PB: 6, batch: 100, years: 149)
Coordinates:
  * years            (years) int64 2003 2004 2005 2006 ... 2148 2149 2150 2151
  * Metrics_var      (Metrics_var) object 'scenario_id' ... 'houses_lost'
Dimensions without coordinates: PB, batch
Data variables:
    PeopleAndHouses  (PB, batch, years, Metrics_var) float64 dask.array<shape=(6, 100, 149, 6), chunksize=(1, 100, 149, 6)>

In [205]:
ds['PeopleAndHouses']

<xarray.DataArray 'PeopleAndHouses' (PB: 6, batch: 100, years: 149, Metrics_var: 6)>
dask.array<shape=(6, 100, 149, 6), dtype=float64, chunksize=(1, 100, 149, 6)>
Coordinates:
  * years        (years) int64 2003 2004 2005 2006 2007 ... 2148 2149 2150 2151
  * Metrics_var  (Metrics_var) object 'scenario_id' ... 'houses_lost'
Dimensions without coordinates: PB, batch
Attributes:
    start_year_of_first_fireyear:  2102
    start_year_of_last_fireyear:   2151
    processed_by:

In [207]:
ds

<xarray.DataArray 'PeopleAndHouses' (PB: 6, batch: 100, years: 149, Metrics_var: 6)>
dask.array<shape=(6, 100, 149, 6), dtype=float64, chunksize=(1, 100, 149, 6)>
Coordinates:
  * years        (years) int64 2003 2004 2005 2006 2007 ... 2148 2149 2150 2151
  * Metrics_var  (Metrics_var) object 'scenario_id' ... 'houses_lost'
  * PB           (PB) int64 0 1 2 3 5 10
  * batch        (batch) int64 0 1 2 3 4 5 6 7 8 ... 91 92 93 94 95 96 97 98 99
Attributes:
    start_year_of_first_fireyear:  2102
    start_year_of_last_fireyear:   2151
    processed_by:

In [208]:
ds.where(ds.PB==10, drop=True)

<xarray.DataArray (PB: 1, batch: 100, years: 149, Metrics_var: 6)>
dask.array<shape=(1, 100, 149, 6), dtype=float64, chunksize=(1, 100, 149, 6)>
Coordinates:
  * years        (years) int64 2003 2004 2005 2006 2007 ... 2148 2149 2150 2151
  * Metrics_var  (Metrics_var) object 'scenario_id' ... 'houses_lost'
  * PB           (PB) int64 10
  * batch        (batch) int64 0 1 2 3 4 5 6 7 8 ... 91 92 93 94 95 96 97 98 99
Attributes:
    start_year_of_first_fireyear:  2102
    start_year_of_last_fireyear:   2151
    processed_by:

In [179]:
hl = ds.where(
    ds.PB==10, 
    drop=True).where(
        ds.years > 2100, drop=True).sel(
    {'Metrics_var':'houses_lost'})

In [180]:
hl.name = 'HousesLost'

In [181]:
hl.to_dataframe()

                Metrics_var  HousesLost
PB batch years
10 0     2101   houses_lost         NaN
         2102   houses_lost         NaN
         2103   houses_lost         NaN
         2104   houses_lost         NaN
         2105   houses_lost         NaN
         2106   houses_lost         NaN
         2107   houses_lost         NaN
         2108   houses_lost         NaN
         2109   houses_lost         NaN
         2110   houses_lost         NaN
         2111   houses_lost         NaN
         2112   houses_lost         NaN
         2113   houses_lost         NaN
         2114   houses_lost         NaN
         2115   houses_lost         NaN
         2116   houses_lost         NaN
         2117   houses_lost         NaN
         2118   houses_lost         NaN
         2119   houses_lost         NaN
         2120   houses_lost         NaN
         2121   houses_lost         NaN
         2122   houses_lost         NaN
         2123   houses_lost         NaN
         2124   houses_lost         NaN
         2125   houses_lost         NaN
         2126   houses_lost         NaN
         2127   houses_lost         NaN
         2128   houses_lost         NaN
         2129   houses_lost         NaN
         2130   houses_lost         NaN
...                     ...         ...
   99    2122   houses_lost        13.0
         2123   houses_lost       189.0
         2124   houses_lost        22.0
         2125   houses_lost       229.0
         2126   houses_lost        39.0
         2127   houses_lost         1.0
         2128   houses_lost        12.0
         2129   houses_lost       305.0
         2130   houses_lost       262.0
         2131   houses_lost        81.0
         2132   houses_lost        71.0
         2133   houses_lost        14.0
         2134   houses_lost         9.0
         2135   houses_lost        32.0
         2136   houses_lost       104.0
         2137   houses_lost        53.0
         2138   houses_lost       192.0
         2139   houses_lost        29.0
         2140   houses_lost         1.0
         2141   houses_lost        29.0
         2142   houses_lost       300.0
         2143   houses_lost        55.0
         2144   houses_lost        45.0
         2145   houses_lost        25.0
         2146   houses_lost        99.0
         2147   houses_lost        15.0
         2148   houses_lost        29.0
         2149   houses_lost        72.0
         2150   houses_lost        64.0
         2151   houses_lost       694.0

[5100 rows x 2 columns]

In [223]:
l = list(ds.Metrics_var.where(ds.Metrics_var != 'scenario_id', drop= True).values)

In [224]:
l

['people_exposed',
 'people_lost_ratio_method',
 'people_lost_harris_method',
 'houses_exposed',
 'houses_lost']

In [193]:
list(ds.PB.values)

[0, 1, 2, 3, 5, 10]

In [235]:
# # For each axis of multidimensional dataframe
# for ax in list(ds.dims):
#     # Get the coordinates
#     for coor in list(eval('ds.'+ax+'.values')):
#         print(coor)

for pb in list(ds.PB.values):
    for m in l:
        hl = ds.where(
            ds.PB == pb, drop = True
        ).sel({
            'Metrics_var': m
        })
        hl.name = '%s@PB%s' % (m, pb)
        print(hl.to_dataframe().drop('Metrics_var', axis=1))

                people_exposed@PB0
PB batch years
0  0     2003               5399.0
         2004               3398.0
         2005               2773.0
         2006              20719.0
         2007              14621.0
         2008              23238.0
         2009               6804.0
         2010                685.0
         2011               3725.0
         2012              25261.0
         2013              14538.0
         2014               6261.0
         2015              13386.0
         2016               9477.0
         2017              16633.0
         2018              10529.0
         2019              14589.0
         2020              10834.0
         2021              14205.0
         2022              19165.0
         2023               3148.0
         2024               3242.0
         2025              15162.0
         2026               6200.0
         2027               6131.0
         2028              15109.0
         2029               9940.0
         2030               4560.0
         2031               5791.0
         2032              11478.0
...                            ...
   99    2122              14102.0
         2123              12628.0
         2124               4527.0
         2125              38881.0
         2126               9385.0
         2127               2057.0
         2128               1968.0
         2129              12268.0
         2130              14503.0
         2131               4796.0
         2132              21298.0
         2133               5135.0
         2134               4266.0
         2135              26757.0
         2136              15998.0
         2137              15892.0
         2138              16185.0
         2139              18950.0
         2140               1042.0
         2141               5201.0
         2142              15670.0
         2143              47076.0
         2144               4434.0
         2145              19877.0
         2146              11754.0
         2147               6191.0
         2148               4879.0
         2149              10319.0
         2150              13856.0
         2151              24834.0

[14900 rows x 1 columns]
                people_lost_ratio_method@PB0
PB batch years
0  0     2003                            0.0
         2004                            1.0
         2005                            1.0
         2006                            8.0
         2007                            4.0
         2008                            6.0
         2009                            2.0
         2010                            0.0
         2011                            0.0
         2012                            5.0
         2013                            2.0
         2014                            0.0
         2015                           24.0
         2016                            0.0
         2017                            1.0
         2018                            2.0
         2019                            9.0
         2020                            3.0
         2021                            8.0
         2022                            5.0
         2023                           10.0
         2024                            0.0
         2025                            1.0
         2026                            2.0
         2027                            2.0
         2028                            2.0
         2029                            1.0
         2030                            0.0
         2031                            3.0
         2032                            6.0
...                                      ...
   99    2122                            3.0
         2123                            2.0
         2124                            1.0
         2125                           26.0
         2126                            2.0
         2127                            1.0
         2128                            0.0
         2129                            5.0
         2130                            1.0
         2131                            2.0
         2132                            4.0
         2133                           10.0
         2134                            0.0
         2135                            8.0
         2136                            2.0
         2137                           12.0
         2138                           12.0
         2139                            3.0
         2140                            0.0
         2141                            3.0
         2142                            3.0
         2143                            6.0
         2144                            1.0
         2145                            8.0
         2146                            4.0
         2147                            0.0
         2148                            2.0
         2149                            7.0
         2150                            1.0
         2151                           23.0

[14900 rows x 1 columns]
                people_lost_harris_method@PB0
PB batch years
0  0     2003                             0.0
         2004                             0.0
         2005                             0.0
         2006                             4.0
         2007                             1.0
         2008                             3.0
         2009                             0.0
         2010                             0.0
         2011                             0.0
         2012                             2.0
         2013                             1.0
         2014                             0.0
         2015                            20.0
         2016                             0.0
         2017                             0.0
         2018                             1.0
         2019                             4.0
         2020                             1.0
         2021                             4.0
         2022                             2.0
         2023                             8.0
         2024                             0.0
         2025                             0.0
         2026                             1.0
         2027                             1.0
         2028                             0.0
         2029                             0.0
         2030                             0.0
         2031                             1.0
         2032                             3.0
...                                       ...
   99    2122                             1.0
         2123                             1.0
         2124                             0.0
         2125                            20.0
         2126                             0.0
         2127                             0.0
         2128                             0.0
         2129                             2.0
         2130                             0.0
         2131                             1.0
         2132                             1.0
         2133                             7.0
         2134                             0.0
         2135                             4.0
         2136                             1.0
         2137                             7.0
         2138                             7.0
         2139                             1.0
         2140                             0.0
         2141                             1.0
         2142                             1.0
         2143                             2.0
         2144                             0.0
         2145                             4.0
         2146                             1.0
         2147                             0.0
         2148                             1.0
         2149                             3.0
         2150                             0.0
         2151                            16.0

[14900 rows x 1 columns]
                houses_exposed@PB0
PB batch years
0  0     2003               2939.0
         2004               1804.0
         2005               2215.0
         2006              11365.0
         2007              10482.0
         2008              13552.0
         2009               4243.0
         2010                401.0
         2011               1797.0
         2012              12842.0
         2013               7369.0
         2014               3710.0
         2015               8232.0
         2016               4640.0
         2017               8373.0
         2018               6761.0
         2019               9236.0
         2020               5939.0
         2021               7861.0
         2022              12808.0
         2023               1640.0
         2024               1777.0
         2025               7403.0
         2026               3259.0
         2027               6219.0
         2028               8373.0
         2029               5048.0
         2030               1908.0
         2031               2947.0
         2032               8245.0
...                            ...
   99    2122               6680.0
         2123               8649.0
         2124               2505.0
         2125              22130.0
         2126               5908.0
         2127               1168.0
         2128               1186.0
         2129               6891.0
         2130              11722.0
         2131               3361.0
         2132              11467.0
         2133               2912.0
         2134               2175.0
         2135              13957.0
         2136              10198.0
         2137               8779.0
         2138               9215.0
         2139              10185.0
         2140                566.0
         2141               3840.0
         2142               7588.0
         2143              26002.0
         2144               2971.0
         2145               9293.0
         2146               8652.0
         2147               3592.0
         2148               2877.0
         2149               5874.0
         2150               7710.0
         2151              16540.0

[14900 rows x 1 columns]
                houses_lost@PB0
PB batch years
0  0     2003              10.0
         2004              17.0
         2005              25.0
         2006             182.0
         2007              91.0
         2008             131.0
         2009              35.0
         2010               0.0
         2011              11.0
         2012             114.0
         2013              43.0
         2014               6.0
         2015             543.0
         2016               7.0
         2017              27.0
         2018              52.0
         2019             192.0
         2020              62.0
         2021             176.0
         2022             122.0
         2023             221.0
         2024               3.0
         2025              18.0
         2026              43.0
         2027              52.0
         2028              34.0
         2029              18.0
         2030               2.0
         2031              60.0
         2032             138.0
...                         ...
   99    2122              72.0
         2123              44.0
         2124              23.0
         2125             589.0
         2126              36.0
         2127              22.0
         2128               1.0
         2129             119.0
         2130              29.0
         2131              48.0
         2132              83.0
         2133             220.0
         2134               3.0
         2135             186.0
         2136              46.0
         2137             257.0
         2138             270.0
         2139              73.0
         2140               1.0
         2141              70.0
         2142              63.0
         2143             123.0
         2144              23.0
         2145             173.0
         2146              88.0
         2147               6.0
         2148              35.0
         2149             147.0
         2150              24.0
         2151             519.0

[14900 rows x 1 columns]
                people_exposed@PB1
PB batch years
1  0     2003              11395.0
         2004               3950.0
         2005              20710.0
         2006              17947.0
         2007               7624.0
         2008              58800.0
         2009              18574.0
         2010               1571.0
         2011               6151.0
         2012              21644.0
         2013              15578.0
         2014               9944.0
         2015              11988.0
         2016               4129.0
         2017               3110.0
         2018              13815.0
         2019              13776.0
         2020               5132.0
         2021              31728.0
         2022               8766.0
         2023                997.0
         2024               6222.0
         2025              15569.0
         2026               8157.0
         2027               8078.0
         2028              16737.0
         2029               6206.0
         2030               3395.0
         2031               8774.0
         2032              12450.0
...                            ...
   99    2122               6587.0
         2123              19989.0
         2124              22473.0
         2125              16753.0
         2126               3155.0
         2127               2105.0
         2128               1179.0
         2129              16039.0
         2130              14669.0
         2131               3450.0
         2132              26118.0
         2133               2861.0
         2134               5156.0
         2135               7128.0
         2136              20457.0
         2137               9080.0
         2138              16301.0
         2139              12747.0
         2140                779.0
         2141               4887.0
         2142              17747.0
         2143               7501.0
         2144               9732.0
         2145              15711.0
         2146              34254.0
         2147               3130.0
         2148               5098.0
         2149              18586.0
         2150               7163.0
         2151              19988.0

[14900 rows x 1 columns]
                people_lost_ratio_method@PB1
PB batch years
1  0     2003                            2.0
         2004                            1.0
         2005                            2.0
         2006                            4.0
         2007                            1.0
         2008                           64.0
         2009                            2.0
         2010                            0.0
         2011                            0.0
         2012                            5.0
         2013                            4.0
         2014                            4.0
         2015                            4.0
         2016                            2.0
         2017                            0.0
         2018                            3.0
         2019                            3.0
         2020                            1.0
         2021                           23.0
         2022                            4.0
         2023                            0.0
         2024                            0.0
         2025                            7.0
         2026                            3.0
         2027                            1.0
         2028                            7.0
         2029                            1.0
         2030                            1.0
         2031                            1.0
         2032                            2.0
...                                      ...
   99    2122                            1.0
         2123                            8.0
         2124                            1.0
         2125                           10.0
         2126                            2.0
         2127                            0.0
         2128                            1.0
         2129                           14.0
         2130                           12.0
         2131                            4.0
         2132                            3.0
         2133                            1.0
         2134                            0.0
         2135                            1.0
         2136                            5.0
         2137                            2.0
         2138                            9.0
         2139                            1.0
         2140                            0.0
         2141                            1.0
         2142                           13.0
         2143                            2.0
         2144                            2.0
         2145                            1.0
         2146                            4.0
         2147                            1.0
         2148                            1.0
         2149                            3.0
         2150                            3.0
         2151                           31.0

[14900 rows x 1 columns]
                people_lost_harris_method@PB1
PB batch years
1  0     2003                             1.0
         2004                             0.0
         2005                             1.0
         2006                             1.0
         2007                             0.0
         2008                            66.0
         2009                             0.0
         2010                             0.0
         2011                             0.0
         2012                             2.0
         2013                             1.0
         2014                             2.0
         2015                             2.0
         2016                             1.0
         2017                             0.0
         2018                             1.0
         2019                             1.0
         2020                             0.0
         2021                            16.0
         2022                             1.0
         2023                             0.0
         2024                             0.0
         2025                             3.0
         2026                             1.0
         2027                             0.0
         2028                             3.0
         2029                             0.0
         2030                             0.0
         2031                             0.0
         2032                             1.0
...                                       ...
   99    2122                             0.0
         2123                             4.0
         2124                             0.0
         2125                             6.0
         2126                             1.0
         2127                             0.0
         2128                             0.0
         2129                             8.0
         2130                             7.0
         2131                             2.0
         2132                             1.0
         2133                             0.0
         2134                             0.0
         2135                             0.0
         2136                             2.0
         2137                             1.0
         2138                             4.0
         2139                             0.0
         2140                             0.0
         2141                             0.0
         2142                             8.0
         2143                             1.0
         2144                             1.0
         2145                             0.0
         2146                             2.0
         2147                             0.0
         2148                             0.0
         2149                             1.0

                people_exposed@PB2
PB batch years
2  0     2003              11395.0
         2004               3950.0
         2005              20710.0
         2006              17947.0
         2007               7624.0
         2008              58800.0
         2009              18574.0
         2010               1571.0
         2011               6151.0
         2012              21644.0
         2013              15578.0
         2014               9944.0
         2015              11988.0
         2016               4129.0
         2017               3110.0
         2018              13815.0
         2019              13776.0
         2020               5132.0
         2021              31728.0
         2022               8766.0
         2023                997.0
         2024               6222.0
         2025              15569.0
         2026               8157.0
         2027               8078.0
         2028              16737.0
         2029               6206.0
         2030               3395.0
         2031               8774.0
         2032              12450.0
...                            ...
   99    2122               6587.0
         2123              19989.0
         2124              22473.0
         2125              16753.0
         2126               3155.0
         2127               2105.0
         2128               1179.0
         2129              16039.0
         2130              14669.0
         2131               3450.0
         2132              26118.0
         2133               2861.0
         2134               5156.0
         2135               7128.0
         2136              20457.0
         2137               9080.0
         2138              16301.0
         2139              12747.0
         2140                779.0
         2141               4887.0
         2142              17747.0
         2143               7501.0
         2144               9732.0
         2145              15711.0
         2146              34254.0
         2147               3130.0
         2148               5098.0
         2149              18586.0
         2150               7163.0
         2151              19988.0

[14900 rows x 1 columns]
                people_lost_ratio_method@PB2
PB batch years
2  0     2003                            2.0
         2004                            1.0
         2005                            2.0
         2006                            4.0
         2007                            1.0
         2008                           64.0
         2009                            2.0
         2010                            0.0
         2011                            0.0
         2012                            5.0
         2013                            4.0
         2014                            4.0
         2015                            4.0
         2016                            2.0
         2017                            0.0
         2018                            3.0
         2019                            3.0
         2020                            1.0
         2021                           23.0
         2022                            4.0
         2023                            0.0
         2024                            0.0
         2025                            7.0
         2026                            3.0
         2027                            1.0
         2028                            7.0
         2029                            1.0
         2030                            1.0
         2031                            1.0
         2032                            2.0
...                                      ...
   99    2122                            1.0
         2123                            8.0
         2124                            1.0
         2125                           10.0
         2126                            2.0
         2127                            0.0
         2128                            1.0
         2129                           14.0
         2130                           12.0
         2131                            4.0
         2132                            3.0
         2133                            1.0
         2134                            0.0
         2135                            1.0
         2136                            5.0
         2137                            2.0
         2138                            9.0
         2139                            1.0
         2140                            0.0
         2141                            1.0
         2142                           13.0
         2143                            2.0
         2144                            2.0
         2145                            1.0
         2146                            4.0
         2147                            1.0
         2148                            1.0
         2149                            3.0
         2150                            3.0
         2151                           31.0

[14900 rows x 1 columns]
                people_lost_harris_method@PB2
PB batch years
2  0     2003                             1.0
         2004                             0.0
         2005                             1.0
         2006                             1.0
         2007                             0.0
         2008                            66.0
         2009                             0.0
         2010                             0.0
         2011                             0.0
         2012                             2.0
         2013                             1.0
         2014                             2.0
         2015                             2.0
         2016                             1.0
         2017                             0.0
         2018                             1.0
         2019                             1.0
         2020                             0.0
         2021                            16.0
         2022                             1.0
         2023                             0.0
         2024                             0.0
         2025                             3.0
         2026                             1.0
         2027                             0.0
         2028                             3.0
         2029                             0.0
         2030                             0.0
         2031                             0.0
         2032                             1.0
...                                       ...
   99    2122                             0.0
         2123                             4.0
         2124                             0.0
         2125                             6.0
         2126                             1.0
         2127                             0.0
         2128                             0.0
         2129                             8.0
         2130                             7.0
         2131                             2.0
         2132                             1.0
         2133                             0.0
         2134                             0.0
         2135                             0.0
         2136                             2.0
         2137                             1.0
         2138                             4.0
         2139                             0.0
         2140                             0.0
         2141                             0.0
         2142                             8.0
         2143                             1.0
         2144                             1.0
         2145                             0.0
         2146                             2.0
         2147                             0.0
         2148                             0.0
         2149                             1.0
         2150                             1.0
         2151                            26.0

[14900 rows x 1 columns]
                houses_exposed@PB2
PB batch years
2  0     2003               6509.0
         2004               3469.0
         2005              11036.0
         2006              12607.0
         2007               4100.0
         2008              31901.0
         2009              10886.0
         2010                840.0
         2011               3643.0
         2012              14004.0
         2013               8613.0
         2014               4448.0
         2015               7382.0
         2016               2618.0
         2017               1666.0
         2018              10786.0
         2019               8089.0
         2020               3921.0
         2021              18482.0
         2022               4821.0
         2023                527.0
         2024               2896.0
         2025              11084.0
         2026               5540.0
         2027               5506.0
         2028              13290.0
         2029               3412.0
         2030               1993.0
         2031               4850.0
         2032               6915.0
...                            ...
   99    2122               3655.0
         2123              11166.0
         2124              11287.0
         2125               9292.0
         2126               2237.0
         2127               1014.0
         2128                932.0
         2129              10979.0
         2130               9825.0
         2131               1716.0
         2132              14671.0
         2133               2476.0
         2134               3809.0
         2135               4055.0
         2136              12829.0
         2137               4904.0
         2138               9999.0
         2139               7006.0
         2140                615.0
         2141               2576.0
         2142              10909.0
         2143               4499.0
         2144               4542.0
         2145               7477.0
         2146              21602.0
         2147               1744.0
         2148               2995.0
         2149              11349.0
         2150               3663.0
         2151              12300.0

[14900 rows x 1 columns]
                houses_lost@PB2
PB batch years
2  0     2003              40.0
         2004              33.0
         2005              56.0
         2006              83.0
         2007              15.0
         2008            1417.0
         2009              35.0
         2010               2.0
         2011               1.0
         2012             118.0
         2013              83.0
         2014              81.0
         2015              99.0
         2016              42.0
         2017               4.0
         2018              78.0
         2019              66.0
         2020              17.0
         2021             502.0
         2022              79.0
         2023               0.0
         2024              11.0
         2025             148.0
         2026              61.0
         2027              13.0
         2028             165.0
         2029              21.0
         2030              11.0
         2031              17.0
         2032              42.0
...                         ...
   99    2122              13.0
         2123             189.0
         2124              22.0
         2125             229.0
         2126              39.0
         2127               1.0
         2128              12.0
         2129             305.0
         2130             262.0
         2131              81.0
         2132              71.0
         2133              14.0
         2134               9.0
         2135              32.0
         2136             104.0
         2137              53.0
         2138             192.0
         2139              29.0
         2140               1.0
         2141              29.0
         2142             300.0
         2143              55.0
         2144              45.0
         2145              25.0
         2146              99.0
         2147              15.0
         2148              29.0
         2149              72.0
         2150              64.0
         2151             694.0

[14900 rows x 1 columns]
                people_exposed@PB3
PB batch years
3  0     2003              11395.0
         2004               3950.0
         2005              20710.0
         2006              17947.0
         2007               7624.0
         2008              58800.0
         2009              18574.0
         2010               1571.0
         2011               6151.0
         2012              21644.0
         2013              15578.0
         2014               9944.0
         2015              11988.0
         2016               4129.0
         2017               3110.0
         2018              13815.0
         2019              13776.0
         2020               5132.0
         2021              31728.0
         2022               8766.0
         2023                997.0
         2024               6222.0
         2025              15569.0
         2026               8157.0
         2027               8078.0
         2028              16737.0
         2029               6206.0
         2030               3395.0
         2031               8774.0
         2032              12450.0
...                            ...
   99    2122               6587.0
         2123              19989.0
         2124              22473.0
         2125              16753.0
         2126               3155.0
         2127               2105.0
         2128               1179.0
         2129              16039.0
         2130              14669.0
         2131               3450.0
         2132              26118.0
         2133               2861.0
         2134               5156.0
         2135               7128.0
         2136              20457.0
         2137               9080.0
         2138              16301.0
         2139              12747.0
         2140                779.0
         2141               4887.0
         2142              17747.0
         2143               7501.0
         2144               9732.0
         2145              15711.0
         2146              34254.0
         2147               3130.0
         2148               5098.0
         2149              18586.0
         2150               7163.0
         2151              19988.0

[14900 rows x 1 columns]
                people_lost_ratio_method@PB3
PB batch years
3  0     2003                            2.0
         2004                            1.0
         2005                            2.0
         2006                            4.0
         2007                            1.0
         2008                           64.0
         2009                            2.0
         2010                            0.0
         2011                            0.0
         2012                            5.0
         2013                            4.0
         2014                            4.0
         2015                            4.0
         2016                            2.0
         2017                            0.0
         2018                            3.0
         2019                            3.0
         2020                            1.0
         2021                           23.0
         2022                            4.0
         2023                            0.0
         2024                            0.0
         2025                            7.0
         2026                            3.0
         2027                            1.0
         2028                            7.0
         2029                            1.0
         2030                            1.0
         2031                            1.0
         2032                            2.0
...                                      ...
   99    2122                            1.0
         2123                            8.0
         2124                            1.0
         2125                           10.0
         2126                            2.0
         2127                            0.0
         2128                            1.0
         2129                           14.0
         2130                           12.0
         2131                            4.0
         2132                            3.0
         2133                            1.0
         2134                            0.0
         2135                            1.0
         2136                            5.0
         2137                            2.0
         2138                            9.0
         2139                            1.0
         2140                            0.0
         2141                            1.0
         2142                           13.0
         2143                            2.0
         2144                            2.0
         2145                            1.0
         2146                            4.0
         2147                            1.0
         2148                            1.0
         2149                            3.0
         2150                            3.0
         2151                           31.0

[14900 rows x 1 columns]
                people_lost_harris_method@PB3
PB batch years
3  0     2003                             1.0
         2004                             0.0
         2005                             1.0
         2006                             1.0
         2007                             0.0
         2008                            66.0
         2009                             0.0
         2010                             0.0
         2011                             0.0
         2012                             2.0
         2013                             1.0
         2014                             2.0
         2015                             2.0
         2016                             1.0
         2017                             0.0
         2018                             1.0
         2019                             1.0
         2020                             0.0
         2021                            16.0
         2022                             1.0
         2023                             0.0
         2024                             0.0
         2025                             3.0
         2026                             1.0
         2027                             0.0
         2028                             3.0
         2029                             0.0
         2030                             0.0
         2031                             0.0
         2032                             1.0
...                                       ...
   99    2122                             0.0
         2123                             4.0
         2124                             0.0
         2125                             6.0
         2126                             1.0
         2127                             0.0
         2128                             0.0
         2129                             8.0
         2130                             7.0
         2131                             2.0
         2132                             1.0
         2133                             0.0
         2134                             0.0
         2135                             0.0
         2136                             2.0
         2137                             1.0
         2138                             4.0
         2139                             0.0
         2140                             0.0
         2141                             0.0
         2142                             8.0
         2143                             1.0
         2144                             1.0
         2145                             0.0
         2146                             2.0
         2147                             0.0
         2148                             0.0
         2149                             1.0

                people_lost_ratio_method@PB5
PB batch years
5  0     2003                            2.0
         2004                            1.0
         2005                            2.0
         2006                            4.0
         2007                            1.0
         2008                           64.0
         2009                            2.0
         2010                            0.0
         2011                            0.0
         2012                            5.0
         2013                            4.0
         2014                            4.0
         2015                            4.0
         2016                            2.0
         2017                            0.0
         2018                            3.0
         2019                            3.0
         2020                            1.0
         2021                           23.0
         2022                            4.0
         2023                            0.0
         2024                            0.0
         2025                            7.0
         2026                            3.0
         2027                            1.0
         2028                            7.0
         2029                            1.0
         2030                            1.0
         2031                            1.0
         2032                            2.0
...                                      ...
   99    2122                            1.0
         2123                            8.0
         2124                            1.0
         2125                           10.0
         2126                            2.0
         2127                            0.0
         2128                            1.0
         2129                           14.0
         2130                           12.0
         2131                            4.0
         2132                            3.0
         2133                            1.0
         2134                            0.0
         2135                            1.0
         2136                            5.0
         2137                            2.0
         2138                            9.0
         2139                            1.0
         2140                            0.0
         2141                            1.0
         2142                           13.0
         2143                            2.0
         2144                            2.0
         2145                            1.0
         2146                            4.0
         2147                            1.0
         2148                            1.0
         2149                            3.0
         2150                            3.0
         2151                           31.0

[14900 rows x 1 columns]
                people_lost_harris_method@PB5
PB batch years
5  0     2003                             1.0
         2004                             0.0
         2005                             1.0
         2006                             1.0
         2007                             0.0
         2008                            66.0
         2009                             0.0
         2010                             0.0
         2011                             0.0
         2012                             2.0
         2013                             1.0
         2014                             2.0
         2015                             2.0
         2016                             1.0
         2017                             0.0
         2018                             1.0
         2019                             1.0
         2020                             0.0
         2021                            16.0
         2022                             1.0
         2023                             0.0
         2024                             0.0
         2025                             3.0
         2026                             1.0
         2027                             0.0
         2028                             3.0
         2029                             0.0
         2030                             0.0
         2031                             0.0
         2032                             1.0
...                                       ...
   99    2122                             0.0
         2123                             4.0
         2124                             0.0
         2125                             6.0
         2126                             1.0
         2127                             0.0
         2128                             0.0
         2129                             8.0
         2130                             7.0
         2131                             2.0
         2132                             1.0
         2133                             0.0
         2134                             0.0
         2135                             0.0
         2136                             2.0
         2137                             1.0
         2138                             4.0
         2139                             0.0
         2140                             0.0
         2141                             0.0
         2142                             8.0
         2143                             1.0
         2144                             1.0
         2145                             0.0
         2146                             2.0
         2147                             0.0
         2148                             0.0
         2149                             1.0
         2150                             1.0
         2151                            26.0

[14900 rows x 1 columns]
                houses_exposed@PB5
PB batch years
5  0     2003               6509.0
         2004               3469.0
         2005              11036.0
         2006              12607.0
         2007               4100.0
         2008              31901.0
         2009              10886.0
         2010                840.0
         2011               3643.0
         2012              14004.0
         2013               8613.0
         2014               4448.0
         2015               7382.0
         2016               2618.0
         2017               1666.0
         2018              10786.0
         2019               8089.0
         2020               3921.0
         2021              18482.0
         2022               4821.0
         2023                527.0
         2024               2896.0
         2025              11084.0
         2026               5540.0
         2027               5506.0
         2028              13290.0
         2029               3412.0
         2030               1993.0
         2031               4850.0
         2032               6915.0
...                            ...
   99    2122               3655.0
         2123              11166.0
         2124              11287.0
         2125               9292.0
         2126               2237.0
         2127               1014.0
         2128                932.0
         2129              10979.0
         2130               9825.0
         2131               1716.0
         2132              14671.0
         2133               2476.0
         2134               3809.0
         2135               4055.0
         2136              12829.0
         2137               4904.0
         2138               9999.0
         2139               7006.0
         2140                615.0
         2141               2576.0
         2142              10909.0
         2143               4499.0
         2144               4542.0
         2145               7477.0
         2146              21602.0
         2147               1744.0
         2148               2995.0
         2149              11349.0
         2150               3663.0
         2151              12300.0

[14900 rows x 1 columns]
                houses_lost@PB5
PB batch years
5  0     2003              40.0
         2004              33.0
         2005              56.0
         2006              83.0
         2007              15.0
         2008            1417.0
         2009              35.0
         2010               2.0
         2011               1.0
         2012             118.0
         2013              83.0
         2014              81.0
         2015              99.0
         2016              42.0
         2017               4.0
         2018              78.0
         2019              66.0
         2020              17.0
         2021             502.0
         2022              79.0
         2023               0.0
         2024              11.0
         2025             148.0
         2026              61.0
         2027              13.0
         2028             165.0
         2029              21.0
         2030              11.0
         2031              17.0
         2032              42.0
...                         ...
   99    2122              13.0
         2123             189.0
         2124              22.0
         2125             229.0
         2126              39.0
         2127               1.0
         2128              12.0
         2129             305.0
         2130             262.0
         2131              81.0
         2132              71.0
         2133              14.0
         2134               9.0
         2135              32.0
         2136             104.0
         2137              53.0
         2138             192.0
         2139              29.0
         2140               1.0
         2141              29.0
         2142             300.0
         2143              55.0
         2144              45.0
         2145              25.0
         2146              99.0
         2147              15.0
         2148              29.0
         2149              72.0
         2150              64.0
         2151             694.0

[14900 rows x 1 columns]
                people_exposed@PB10
PB batch years
10 0     2003               11395.0
         2004                3950.0
         2005               20710.0
         2006               17947.0
         2007                7624.0
         2008               58800.0
         2009               18574.0
         2010                1571.0
         2011                6151.0
         2012               21644.0
         2013               15578.0
         2014                9944.0
         2015               11988.0
         2016                4129.0
         2017                3110.0
         2018               13815.0
         2019               13776.0
         2020                5132.0
         2021               31728.0
         2022                8766.0
         2023                 997.0
         2024                6222.0
         2025               15569.0
         2026                8157.0
         2027                8078.0
         2028               16737.0
         2029                6206.0
         2030                3395.0
         2031                8774.0
         2032               12450.0
...                             ...
   99    2122                6587.0
         2123               19989.0
         2124               22473.0
         2125               16753.0
         2126                3155.0
         2127                2105.0
         2128                1179.0
         2129               16039.0
         2130               14669.0
         2131                3450.0
         2132               26118.0
         2133                2861.0
         2134                5156.0
         2135                7128.0
         2136               20457.0
         2137                9080.0
         2138               16301.0
         2139               12747.0
         2140                 779.0
         2141                4887.0
         2142               17747.0
         2143                7501.0
         2144                9732.0
         2145               15711.0
         2146               34254.0
         2147                3130.0
         2148                5098.0
         2149               18586.0
         2150                7163.0
         2151               19988.0

[14900 rows x 1 columns]
                people_lost_ratio_method@PB10
PB batch years
10 0     2003                             2.0
         2004                             1.0
         2005                             2.0
         2006                             4.0
         2007                             1.0
         2008                            64.0
         2009                             2.0
         2010                             0.0
         2011                             0.0
         2012                             5.0
         2013                             4.0
         2014                             4.0
         2015                             4.0
         2016                             2.0
         2017                             0.0
         2018                             3.0
         2019                             3.0
         2020                             1.0
         2021                            23.0
         2022                             4.0
         2023                             0.0
         2024                             0.0
         2025                             7.0
         2026                             3.0
         2027                             1.0
         2028                             7.0
         2029                             1.0
         2030                             1.0
         2031                             1.0
         2032                             2.0
...                                       ...
   99    2122                             1.0
         2123                             8.0
         2124                             1.0
         2125                            10.0
         2126                             2.0
         2127                             0.0
         2128                             1.0
         2129                            14.0
         2130                            12.0
         2131                             4.0
         2132                             3.0
         2133                             1.0
         2134                             0.0
         2135                             1.0
         2136                             5.0
         2137                             2.0
         2138                             9.0
         2139                             1.0
         2140                             0.0
         2141                             1.0
         2142                            13.0
         2143                             2.0
         2144                             2.0
         2145                             1.0
         2146                             4.0
         2147                             1.0
         2148                             1.0
         2149                             3.0
         2150                             3.0
         2151                            31.0

[14900 rows x 1 columns]
                people_lost_harris_method@PB10
PB batch years
10 0     2003                              1.0
         2004                              0.0
         2005                              1.0
         2006                              1.0
         2007                              0.0
         2008                             66.0
         2009                              0.0
         2010                              0.0
         2011                              0.0
         2012                              2.0
         2013                              1.0
         2014                              2.0
         2015                              2.0
         2016                              1.0
         2017                              0.0
         2018                              1.0
         2019                              1.0
         2020                              0.0
         2021                             16.0
         2022                              1.0
         2023                              0.0
         2024                              0.0
         2025                              3.0
         2026                              1.0
         2027                              0.0
         2028                              3.0
         2029                              0.0
         2030                              0.0
         2031                              0.0
         2032                              1.0
...                                        ...
   99    2122                              0.0
         2123                              4.0
         2124                              0.0
         2125                              6.0
         2126                              1.0
         2127                              0.0
         2128                              0.0
         2129                              8.0
         2130                              7.0
         2131                              2.0
         2132                              1.0
         2133                              0.0
         2134                              0.0
         2135                              0.0
         2136                              2.0
         2137                              1.0
         2138                              4.0
         2139                              0.0
         2140                              0.0
         2141                              0.0
         2142                              8.0
         2143                              1.0
         2144                              1.0
         2145                              0.0
         2146                              2.0
         2147                              0.0
         2148                              0.0
         2149                              1.0
         2150                              1.0
         2151                             26.0

[14900 rows x 1 columns]
                houses_exposed@PB10
PB batch years
10 0     2003                6509.0
         2004                3469.0
         2005               11036.0
         2006               12607.0
         2007                4100.0
         2008               31901.0
         2009               10886.0
         2010                 840.0
         2011                3643.0
         2012               14004.0
         2013                8613.0
         2014                4448.0
         2015                7382.0
         2016                2618.0
         2017                1666.0
         2018               10786.0
         2019                8089.0
         2020                3921.0
         2021               18482.0
         2022                4821.0
         2023                 527.0
         2024                2896.0
         2025               11084.0
         2026                5540.0
         2027                5506.0
         2028               13290.0
         2029                3412.0
         2030                1993.0
         2031                4850.0
         2032                6915.0
...                             ...
   99    2122                3655.0
         2123               11166.0
         2124               11287.0
         2125                9292.0
         2126                2237.0
         2127                1014.0
         2128                 932.0
         2129               10979.0
         2130                9825.0
         2131                1716.0
         2132               14671.0
         2133                2476.0
         2134                3809.0
         2135                4055.0
         2136               12829.0
         2137                4904.0
         2138                9999.0
         2139                7006.0
         2140                 615.0
         2141                2576.0

In [232]:
# ds.groupby('Metrics_var').groupby('years')
# # .to_dataframe().groupby('PB').describe()

AttributeError: 'DataArrayGroupBy' object has no attribute 'groupby'

In [282]:
df3 = ds.sel(
    {'Metrics_var':'houses_lost'}).to_dataframe(name='houses_lost')

In [306]:
dataf = df3.drop('Metrics_var', axis=1)

In [311]:
data = [go.Box(y=dataf.loc[0], name="PB 0",
    boxpoints = 'outliers', boxmean=True, notched=True),
       go.Box(y=dataf.loc[1], name="PB 1",
    boxpoints = 'outliers', boxmean=True, notched=True),
       go.Box(y=dataf.loc[2], name="PB 2",
    boxpoints = 'outliers', boxmean=True, notched=True),
       go.Box(y=dataf.loc[3], name="PB 3",
    boxpoints = 'outliers', boxmean=True, notched=True),
       go.Box(y=dataf.loc[5], name="PB 5",
    boxpoints = 'outliers', boxmean=True, notched=True),
       go.Box(y=dataf.loc[10], name="PB 10",
    boxpoints = 'outliers', boxmean=True, notched=True)]

layout = go.Layout(
    xaxis=dict(
        title='Prescribed Burn Level'
    ),
    yaxis=dict(
        title='Houses Lost',
        zeroline=False,
        type='log'
    ),
    title = "Log House Loss"
)

fig = go.Figure(data=data,layout=layout)
py.iplot(fig, filename = "House Losses")